@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";


@import "./globoal/header.css";

/*Utilidades*/
@import "./utilidades/componentes.css";


/*Home*/
@import "./home/introducao.css";
@import "./home/tecnologia.css";


/*Bicicletas*/
@import "./bicicletas/bicicletas-lista.css";




